<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <title>Menu</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jgp" href="{% static 'core/img/Icono.png' %}" alt="Icono pestaña">

    <!-- Css -->
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #000;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 100px;width: 150px;" src="{% static 'core/img/logoHome.png' %}"
                    class="d-inline-block align-top" alt="">
                {% if user.is_staff %}
                <a style="color:white;">Administrador: {{ user.first_name }} {{ user.last_name }}</a>
                {% else %}
                <a style="color:white;">Bienvenid@ {{ user.first_name }} {{ user.last_name }}</a>
                {% endif %}
            </a>


            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav">
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inventarios<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'producto' %}">Productos<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'tiendas' %}">Tiendas<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inventario<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <a slot="end" class="btn" href="{% url 'logout' %}" style="color:#fff; font-size: 30px;">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <!-- listado-->
    {% if user.is_authenticated and user.is_staff %}
    <div class="container" style="margin-top: 30px;">

        <div class="form-group table-responsive " style="margin-top: 30px;">
            <h1 class="centrado">Solicitudes de stock pendientes <i class="fa fa-bell"></i></h1>

            <table class="table table-striped">
                <tr style="text-align: center;">
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Tienda</th>
                    <th>Estado</th>
                </tr>
                {% for x in sol %}
                {% if x.estadoSol_id == 1 %}

                <tr>
                    <td>{{ x.productoSolicitado }}</td>
                    <td>{{ x.fechaSolicitud }}</td>
                    <td>
                        {% for inv in inventario %}
                        {% if inv.idInventario == x.inventarioId_id %}
                        {{ inv.inventario }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for est in estado %}
                        {% if est.idEstado == x.estadoSol_id %}
                        {% if x.estadoSol_id == 1 %}
                        <a class="btn" style="margin-top: 5px; width: 150px; border-color: black;"
                            href="{% url 'responderSolicitud' x.idSolicitud %}">
                            <i class="fa fa-envelope"></i> Finalizar
                        </a>
                        {% else %}
                        {{ est.estadoSol }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>



        <div class="form-group table-responsive " style="margin-top: 30px; margin-bottom: 100px;">
            <h1 class="centrado">Solicitudes historicas <i class="fa fa-history"></i></h1>

            <table class="table table-striped">
                <tr style="text-align: center;">
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Tienda</th>
                    <th>Estado</th>
                    <th>Respuesta</th>

                </tr>
                {% for x in sol %}
                {% if x.estadoSol_id == 2 %}

                <tr>
                    <td>{{ x.productoSolicitado }}</td>
                    <td>{{ x.fechaSolicitud }}</td>
                    <td>
                        {% for inv in inventario %}
                        {% if inv.idInventario == x.inventarioId_id %}
                        {{ inv.inventario }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for est in estado %}
                        {% if est.idEstado == x.estadoSol_id %}

                        {{ est.estadoSol }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ x.respuesta }}</td>
                </tr>
                {% endif %}

                {% endfor %}
            </table>
        </div>
    </div>

    {% else %}
    <div class="container" style="margin-top: 30px;">
        <div class="form-group table-responsive " style="margin-top: 30px;">
            <h1 class="centrado">Solicitudes de stock <i class="fa fa-history"></i></h1>
            <table class="table table-striped">
                <tr style="text-align: center;">
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Respuesta</th>
                </tr>
                {% for usuario in usuarios %}
                {% if user.username == usuario.email %}
                {% for x in sol %}
                    {% if x.inventarioId_id == usuario.inventarioId_id %}
                        <tr>
                            <td>{{ x.productoSolicitado }}</td>
                            <td>{{ x.fechaSolicitud }}</td>
                            <td>
                                {% for est in estado %}
                                    {% if est.idEstado == x.estadoSol_id %}
                                        {{ est.estadoSol }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ x.respuesta }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}

                {% endfor %}

            </table>
        </div>
    </div>

    {% endif %}
    <footer >
        &copy;2023 Newmoss Solutions Inc.
    </footer>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
{% for m in messages %}
<script type="">
    var alertData = {{ m| safe }};
    Swal.fire({
        title: alertData.title,
        text: alertData.text,
        icon: alertData.icon,
        confirmButtonColor: "#007bff",
        confirmButtonText: "Salir"
    });
</script>
{% endfor %}
{% endif %}

<script>
    function eli(id) {
        Swal.fire({
            "title": "Estas seguro?",
            "text": "esta accion no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText": "Si, Eliminar",
            "ReverseButtons": true,
            "confirmButtonColor": "red"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminare/" + id
                    Swal.fire('Eliminado!', '', 'success')
                } else
                    Swal.fire('No se elimino!', '', 'error')
            })
    }
</script>
<ul>
    {% for medi in medi %}
    <li> {{ medi.nombre }}</li>
    {% endfor %}
</ul>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>