<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <title>Menu</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jgp" href="{% static 'core/img/Icono.png' %}" alt="Icono pestaña">

    <!-- Css -->
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <!-- Boostrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark " style="background: #4f8ba7;  ">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 50px;width: 140px;" src="{% static 'core/img/logoHome.png' %}"
                    class="d-inline-block align-top" alt="">
                {% if user.is_staff %}
                <a style="color:white;">Farmaceutico: {{ user.first_name }} {{ user.last_name }}</a>
                {% else %}
                <a style="color:white;">Medico: {{ user.first_name }} {{ user.last_name }}</a>
                {% endif %}
            </a>


            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'home' %}">Menu Principal<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'producto' %}">Productos<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'crearProducto' %}">Crear producto <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'reg_prescripcion' %}">Registrar prescripciones<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
            <a slot="end" class="btn btn-danger clogse" href="{% url 'logout' %}"
                style="color:rgb(255, 255, 255); ; ">Cerrar
                sesión</a>
            {% endif %}
        </nav>
    </div>

    <body>
        <div class="container" style="margin-top: 30px;">

            <h1>Productos del inventario</h1>
            <form method="GET">
                <label for="inventario_id">Seleccione un inventario:</label>
                <select name="inventario_id" id="inventario_id">
                    <!-- Aquí puedes iterar sobre todos los inventarios disponibles y generar las opciones del menú desplegable -->
                    {% for x in inv %}
                    <option value="{{ x.idInventario }}">{{ x.inventario }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Mostrar productos">
            </form>
        </div>
        <!-- {% if filtro %}
        <h2>Productos:</h2>
        <ul>
            Iterar sobre los productos y mostrar su información
            {% for x in filtro %}
                <li>Producto:{{ x.productoId.nombre }} Stock:{{ x.stock }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos disponibles para el inventario seleccionado.</p>
    {% endif %} -->
        <div class="container" style="margin-top: 30px;">
            <div class="form-group table-responsive " style="margin-top: 30px;">
                <table class="table table-striped">
                    <H1 class="centrado">Listado de inventario</H1>

                    <tr style="text-align: center;">
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Imagen</th>

                    </tr>
                    {% for x in filtro %}
                    <td>{{ x.productoId.nombre }}</td>
                    <td>{{ x.stock }}</td>
                    <td>{{ x.productoId.descripcion}}</td>
                    <td>{{ x.productoId.precio }}</td>
                    <td><img src="{{ x.productoId.imagen.url }}" style="width: 70px;max-width: 70px;" alt=""></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>

</html>