<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Solicitar</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="icon" type="image/jgp" href="{% static 'core/img/Icono.png' %}" alt="Icono pestaña">

    <link type="text/css" rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #000;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 100px;width: 150px;" src="{% static 'core/img/logoHome.png' %}"
                    class="d-inline-block align-top" alt="">
                {% if user.is_staff %}
                <a style="color:white;">Administrador: {{ user.first_name }} {{ user.last_name }}</a>
                {% else %}
                <a style="color:white;">Usuario: {{ user.first_name }} {{ user.last_name }}</a>
                {% endif %}
            </a>

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav">
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inventarios<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'producto' %}">Productos<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'tiendas' %}">Tiendas<span
                                    class="sr-only">(current)</span></a>
                        </li>

                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'home' %}">Inventarios<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="">Registrar prescripciones<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'tiendas' %}">Tiendas<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <a slot="end" class="btn" href="{% url 'logout' %}" style="color:#fff; font-size: 30px;">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                {% endif %}
            </div>
        </nav>
    </div>
    {% if user.is_authenticated %}
    <!-- Formulario -->
    <form action="{% url 'respuesta' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="form-register ">
            <h1 align=center>Respuesta solicitud</h1>
            <input class="controls" type="text" name="idSol" id="idSol" value="{{ est.idSolicitud}}" hidden>
            <label for="">Respuesta:</label>
            <input class="controls" type="text" name="respuesta" id="respuesta" required>

            <div style="display: flex; justify-content: center;">
                <input style="margin-right: 10px;" class="botons" type="reset" value="Limpiar campos">
                <input class="botons" type="submit" value="Responder">
            </div>
    </form>
    {% endif %}

</body>

</html>