<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Registrar medicamento</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="icon" type="image/jgp" href="{% static 'core/img/Icono.png' %}" alt="Icono pestaña">

    <link type="text/css" rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- Boostrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #000;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 100px;width: 150px;" src="{% static 'core/img/logoHome.png' %}"
                    class="d-inline-block align-top" alt="">
                    {% if user.is_staff %}
                    <a style="color:white;">Administrador: {{ user.first_name }} {{ user.last_name }}</a>
                    {% else %}
                    <a style="color:white;">Usuario: {{ user.first_name }} {{ user.last_name }}</a>
                    {% endif %}
            </a>

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav">
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inventarios<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'producto' %}">Productos<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'tiendas' %}">Tiendas<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'reg_prescripcion' %}">Registrar prescripciones<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'tiendas' %}">Tiendas<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
            <a slot="end" class="btn btn-danger clogse" href="{% url 'logout' %}"
                style="color:rgb(255, 255, 255); ; ">Cerrar
                sesión</a>
            {% endif %}
        </nav>
    </div>
    {% if user.is_staff %}
    <!-- Formulario -->
    <form action="{% url 'registrar_stock' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="form-register">
            <h4 align=center>Registrar producto a inventario</h4>
            <div class="control">
                <label>Inventario: </label>
                <select class="controls" name="inv" id="inv">
                    {% for x in inv %}
                    <option value="{{ x.idInventario }}">{{ x.inventario }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="control"s>
                <label>Producto: </label>
                <select class="controls" name="pro" id="pro">
                    {% for x in pro %}
                    <option value="{{ x.idProducto }}">{{ x.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="controls" type="text" name="stock" id="stock" placeholder="cantidad" required>

            <input class="botons" type="reset" value="Limpiar campos">
            <input class="botons" type="submit" value="Registrar">
    </form>
    {% endif %}

</body>

</html>