table{
    margin-top: 30px;
    caption-side: bottom;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}
th{
    background-color: black;
    color: white;
}
tr{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

caption{
    color: white;
    padding-top: 10px;
    font-style: italic;
}
td, th{
    border: 2px solid black;
    padding-left: 2px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.colortitulo{
    color: white;
}